body {
    font-family: Didot, sans-serif ;
    background-color: lightblue;
    background-size: cover;
}

.title{
    color: black;
}

.text-blocks {
    color: black;
    margin: 5;
}

.container{
    margin: 0px 15px;
}
